{% extends 'flatpages/default.html' %}

{% block title %}
    Вход
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block content %}
    <form  class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container text-center">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Вход</button>
        </div>
    </form>
    
{% endblock content %}