{% extends 'flatpages/default.html' %}

{% block title %}
    Главная
{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static "styles/main.css"%}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
        <h1>ВСЕ ПОЛЬЗОВАТЕЛИ</h1>
        <div class="user-cards">
        </div>
{% endblock %}

{% block script %}
    <script>
    const user = {{ user }}
    
fetch(`http://127.0.0.1:8000/api/v1/users/`)
    .then((response) => {
        const result = response.json();
        return result
    })
    .then((data) => {
        displayResult(data);
    })
    .catch(() => {
        console.log('error')
    })
    
    
function displayResult(data) {
    let cards = ''

    data.forEach(item => {
        if (user == null) {
            const cardBlock = `
                <div class="user-card" id="user_${item.id}">
                    <img src="${item.avatar}" alt="">
                    <span>${item.user.username}</span>
                </div>
                `
            cards += cardBlock;
        }
        else {if (item.user.username !== user.username) {
            const cardBlock = `
                <div class="user-card" id="${item.id}">
                    <img src="${item.avatar}" alt="">
                    <span>${item.user.username}</span>
                </div>
                `
            cards += cardBlock;
        }}
        
    })
    
    const usersNode = document.querySelector('.user-cards')
    usersNode.innerHTML = cards;

    const userCards = document.querySelectorAll('.user-card')
    for (let userCard of userCards) {
        userCard.addEventListener('click', () => {
            fetch(`${window.location}api/v1/chats/?user=${userCard.id}&user=${user.id}`)
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    if (isEmpty(data)) {
                        return createChat(userCard.id, user.id)
                    }
                    window.location.href = `${window.location.origin}/chats/${data[0].id}`
                })
        })
    }
    
    function createChat (fisrtUser, secondUser) {

        fetch(`${window.location.origin}/api/v1/chats/`, {
            method: 'POST',
            headers: {
                "X-CSRFToken" : getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "users_id": [fisrtUser, secondUser]
            })
                
        })
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                window.location.href = `${window.location.origin}/chats/${data.id}`
            })
    }


}
function isEmpty(obj) {
  for (var prop in obj) {
    if (Object.prototype.hasOwnProperty.call(obj, prop)) {
      return false;
    }
  }
  return true
}

    </script>
{% endblock%}
