@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}